#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.homepage-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: red;
}

.login-form button{

  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}